@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*Typefce styles */
body {
  font-family: 'Lato', sans-serif !important;
}
h1 {
  font-size: 6vh;
  letter-spacing: 1px;
  font-weight: bolder;
}

h2 {
  font-size: 5vh;
  letter-spacing: 0.5px;
  font-weight: bolder;
}

h3 {
  font-size: 3vh;
  letter-spacing: 0.2px;
  font-weight: bold;
}

h4 {
  font-size: 2.5vh;
  font-weight: bold;
}
p,a {
  font-size: 2vh;
  line-height: 150%;
  color: #949494;
}
.strong {
  font-weight: bold;
  
}
.small {
  font-size: 1.9vh;
  
}

.nounderline {
    text-decoration: none;

}

/* colors*/
.color--bluemarine{
  color: #22ABF8;
}

.color--redcoral{
  color:#F94A4F;
}
.color-goldsand{
  color:#F9B93C
}

.color--dark{
  color: #19203A;
}
.color--light{ 
color:#FAFAF8;
}
.color--greymouse{
  color: #949494;
}
.color--greynuace{
  color:#F1F1F1;
}
.color--greysmoke{
  color:#CBCBCB;
}

.bg--dark{
  background-color: #19203A;
}

.bg--white{
    background-color: white;
}

.bg--greynuace{
  background-color: #F1F1F1;

}
.bg--greysmoke{
  background-color:#CBCBCB;
}

.bg--blunuance{
    background-color: #0794E4;
}

/*Buttons */




.btn--first {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 100px;
}

.btn--first:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}






.btn--second {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 100px;
}

.btn--second:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}



.btn--third{
    border: 1px solid #CBCBCB;
    border-radius: 100px;
    border-color:#22ABF8;
    color:#22ABF8;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 100px;
}

.btn--third:hover {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}





.btn--fourth {
    border: 1px solid #CBCBCB;
    border-radius: 100px;
    border-color:#22ABF8;
    color:#22ABF8;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 100px;
}

.btn--fourth:hover {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}


/* nav */
nav{
  background-color:#FAFAF8;
  }
  
  #active{
    color:#22ABF8;
    text-decoration: underline;
  }
  
  .navbar-brand{
    font-weight: bold;
    font-size: 3vh;
  }
  
   .nav-item{
  padding-right:16px;
  padding-left:16px;}
  
  .navbar-light .navbar-toggler {
    border: none;
    outline: none;
  }
  .navbar-toggler>.close--menu {
    display:inline;
  }
  .navbar-toggler.collapsed>.close--menu, .navbar-toggler:not(.collapsed)>.open--menu {
    display:none;
  }

btn:focus, a:focus
{
         outline: none;
}
.navbar-toggler:focus
{
         outline: none !important;
         box-shadow: none;
}
 
.icon--meu{
  width: 22px;
  height: auto;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.lblCartCount {
    font-size: 12px;
    background: #22ABF8;
    color: #fff;
    padding: 0 6px 0;
    vertical-align: top;
    margin-left: -10px; 
}





/*utilities */


.icon--home{
  min-width: 80px;
}


.image--section{
 max-height: 80vh;
 min-height: 50vh;

 width: auto;
}



/*images absolute in background */
.container--relative{
  position: relative;
}

.bottom--left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
max-width: 200px;
height: auto;
}


.bottom--right {
    position: absolute;
    bottom: 0px;
    right:0px;
    width: 100%;
max-width: 200px;
height: auto;

}
.top--right{
  position: absolute;
 top: 0px;
  right:0px;
  width: 100%;
max-width: 200px;
height: auto;

}
.top--left{
  position: absolute;
  top:0px;
left: 0px;
  width: 100%;
max-width: 200px;
height: auto;

}
    
.middle--left{
  position: absolute;
  top:50%;
  left: 0px;
  width: 100%;
max-width: 200px;
height: auto;

}

.middle--right{
  position: absolute;
  top:50%;
  right: 0px;
  width: 100%;
max-width: 200px;
height: auto;

}

/*Rivedere */
.quarter--top--left{
  position: absolute;
  top:25%;
  left: 0px;
  width: 100%;
max-width: 200px;
height: auto;

}

.quarter--top--right{
  position: absolute;
  top:25%;
  right: 0px;
  width: 100%;
max-width: 200px;
height: auto;

}

.quarter--bottom--left{
  position: absolute;
  top:75%;
  left: 0px;
  width: 100%;
max-width: 200px;
height: auto;

}

.quarter--bottom--right{
  position: absolute;
  top:75%;
  right: 0px;
  width: 100%;
max-width: 200px;
height: auto;

}




/* coral cards */
.cards--wrapper--carousel {
  display: flex;
  justify-content: center;
}
.img--card--coral{
  max-width: 100%;
  max-height: 100%;
}
.card--carousel--coral {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 10px;
  max-width: 45vh;
  margin:3px;

}

.swiper-slide {
  height: auto;
  margin-bottom: 16px;
 }


/* news cards */
.card--news{
  background: none;
  border: none;
  max-width: 50vh;
    margin-bottom: 2rem;
}

.img--card--news{

    max-width: 100%;
    max-height: 100%;

}




/* carousel */

.slide-content{
  margin: 0 40px;
  overflow: hidden;
 
}

.swiper-navBtn{
  color: #2F2E28;
  transition: color 0.3s ease;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 30px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}



@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }

}


/*footer */

footer{
  background-color: #19203A;
}















/*------------------------------ */
/*0-home page*/
/*section immergiti */
.diving--section{
  background-image: url("../img/JPG/IllustrationUnderwaterSeabedCoralAnemone.jpg") ;
  background-repeat: no-repeat;
 background-size: cover;
 background-position: center bottom;
 height: 75vh;
}

#HeroHome{
  background-image: url("../img/JPG/UnderwaterScubaDiverSeabedFish.jpg");
  background-size: cover;
 height: 80vh;
}

/* reviews cards */

.img--card--review{
  max-width: 30%;
  height: auto;
}


.card--carousel--review{
  margin: 0 1em;
  background: none;
border:none;
  max-width: 40vh;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.checked {
  color: orange;
}

/*modal */
.image--gallery:hover {
  transform: scale(1.5);
  transition: transform 0.25s ease;
}
.image--gallery {

  width: 5vh;
  height: auto;
 border-radius: 6px;
 padding: unset;
 margin: 8px;

}

.expandedImg {
  width: 90%;
  border-radius: 16px;
  padding: unset;
 
  
}
.text--divider {
    width: 100%;
    border-bottom: 1px solid #949494;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.divider {
    background: #fff;
    padding-right:10px;
}
.image--model{
  max-width: 40%;
  padding-right: 6px;
}
.modal--tab{
  height: 10vh;
}
/*------------------------------ */


/*------------------------------ */
/*3-chi_siamo page*/
#HeroAboutUs{
background-image: url("../img/JPG/BlueSkySeaTeamScubaDiver.jpg");
  background-size: cover;
  background-position: center bottom;
 height: 80vh;
}
#ContactForm{
  background-image: url("../img/JPG/UnderwaterBluSeaContactform.jpg");
  background-size: cover;
  background-position: center bottom;
 min-height: 80vh;
 max-height: 100%;
}



/*------------------------------ */
/* 2-aiuta_il_mare page*/
#HeroSeaHelp{
  background-image: url("../img/JPG/UnderwaterCoralSeabedRedFish.jpg");
  background-size: cover;
 height: 80vh;
}
/*------------------------------ */




/*------------------------------ */
/* 5-immergiti page page*/
#ImmergitiBody{
  /*background gradiente con pattern pesci  */
      background-image: url("../img/IllustrationUnderWaterFishBubbleBackgroundPattern.png"), linear-gradient(180deg, #143C77 0%, #19203A 64.58%);

  }
/*------------------------------ */


/*------------------------------ */
/* 4-blog page*/

.line--dash{
    max-width: 1rem;
    margin-right: 1rem;
}

/*------------------------------ */


/*------------------------------ */
/* Articles page*/
.share--icon{
    width: 1.5rem;
}

/*------------------------------ */